/*
CSS Rules
Syntax: ;
selector {
	property: value;
}
*/

/*h1 {
	color: yellow;
}*/

/*1. UNIVERSAL SELECTOR (LOWEST)*/
/*Change the font of every element in HTML*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*The "*" is a universal selector and is used to target All elements*/
/*The "font-family" property changes the style of the font.*/
/*The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to use the primary font.*/
/*The value "20px" refers to 20 pixels in size.*/

/*2. TYPE SELECTOR*/
body {
	background-color: skyblue;
}
/*The "backgorund-color" property changes the background color of an element.*/

/*3. ATTRIBUTE SELECTOR*/
/*The attribute selector only works based on the exact attribute syntax provided in the HTML tag. It's also case sensitive.*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*4. CLASS SELECTOR*/
/*The "class" attribute is used to target elements with similar styling. This is a good approach to use for elements that have similar styles across the whole application.*/
.offering-item {
	text-transform: uppercase;
}
/*
-The "text-transform" property changes font to a certain case.
-The value "uppercase" changes text to all capitalized letter.
*/

/*5. ID SELECTOR*/
#zuitt-motto {
	letter-spacing: 5px;
}
/*
- The "id" attribute is used to target elements with unique styling. This is a good approach to use for elements that should have their own style across the whole application.
- The "letter-spacing" property changes the spaces in between charateres of a text.
- ID selectors have the highest priority for selectors. 
*/ 

/*CSS SELECTOR COMBINATION*/

/*ADJACENT SIBLING SELECTOR*/
/*Magkatabi sila*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*GENERAL SIBLING SELECTOR*/
/*Sibling kahit malayo.*/
h2 ~ a, a{
	text-decoration: none;
}

/*CHILD SELECTOR*/
body > section > form > label{
	color: rgb(0, 0, 128);
}

/*DESCENDANT SELECTORS*/
#bootcamp-learning-list li{
	color:  #075966;
}

/*WHOLE HTML*/
html {
	scroll-behavior: smooth;
}

/*Navigation Bar*/
nav {
	background-color: #fff;
}

/*Selector: Hover Pseudo Class*/
/*Changes the style when hovered over*/
a:hover {
	background-color: #b4d6de;
}

/*DIV for the Navigation Bar*/
div	{
	display: inline-block;
	float: right;
}

/*Landing Section & Form Section*/
section	{
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/*Remove number from list*/
ol {
	list-style-type: none;
}

/*Register Section/Form*/
form {
	text-align: center;
	background-color: #fff;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}