#external-styling {
	color: yellow;
}

* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 50px;
}

#uppercase {
	text-transform: uppercase;
}

.list-background-color {
	background-color: lawngreen;
}

ol[class="10"] li{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	width: 90%;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;
}